// Colors
// Blue 1 #16425b
// Blue 2 #2f6690
// Blue 3 #3a7ca5
// Blue 4 #81c3d7
// Gray 1 #d9dcd6
// Black 1 #0d0d0d

body {
    max-width: 1500px;
    margin:auto;
    background-color: #d9dcd6;
}

h1 {
    color: #ffffff;
}

.content {
    background-color:#ffffff;
    // box-shadow: 0 10px 50px rgba(0,0,0,1);
    // position: relative;
    // z-index: 100;
}